.container {
    width: 992px;
    margin: 0 auto;
    background: var(--color-gray-soft);

}


/*categories list*/
.list-item-home {
    /*justify-content: center;*/
    background: var(--bs-white);
    padding: 18px 16px 16px;
    width: 100%;
}

.scroll-item {
    width: 66px;
    flex-shrink: 0;
    height: 84px;
    margin-right: 15px;
    text-align: center;
}

.scroll-txt {
    font-weight: 500;
    font-size: 12px;
    height: 35px;
    line-height: 18px;
    color: #383838;
    white-space: normal;
}

/*top-product*/
.list-item-home.bg-product-discount {
    background: #00BAF1;
    background-size: cover;
}

.wrapper-body .list-item-home {
    margin-top: 16px;
    background: var(--bs-white);
    padding: 18px 16px 16px;
    width: 100%;
}

.title-section a {
    font-size: 20px;
    font-weight: 700;
}

.scroll-product {
    background: var(--bs-white);
    padding: 14px;
    column-gap: 10px;
    border-radius: 10px;
}

.title-prod {
    font-size: 13px;
}

.cur-price, .sale-price, .sell {
    font-weight: 700;
    line-height: 24px;
    color: var(--color-product-text);
}

.sale-price {
    color: var(--color-product-sale);
    text-decoration: line-through;
}

.sell {
    color: var(--color-product-sell);
}

/*voucher */
.voucher-title {
    padding-right: 14px;
}

.scroll-voucher {
    padding: 14px;
}

.best-seller {
    background: url(https://shop.dimuadi.vn/_next/static/media/bg-prod-sale.f277666a353432da77d84d9cd5d74d3e.jpg);
    background-size: cover;
}
.discount-price {
    text-decoration: none;
}
.category {
    font-size: 14px;
}

.recommend-prod {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 14px;
}
.content-prod
{
    padding-bottom: 12px;
}





