.nav-main {
    background-color: #e5e5e5;
}
.top-nav {
    width: 992px;
    height: 36px;
    text-align: right;
    background-color: #e5e5e5;
    overflow: hidden;
}
.List-top-nav {
    margin: auto !important;
    position: relative;
    text-align: right;
    bottom: 5px;
}

.tv-text {
    font-size: 13px;
    color: #3d3f40;
}

.main-nav {
    background: #44bd32;
    height: 60px;
    padding: 12px 0;
}
.box-header {
    width: 992px;
}

.menu-li {
    padding: 0 12px 7px 14px;
}
.logo-li {
    padding: 0 12px 5px 0;
}


.input-search {
    border-radius: 8px;
    padding: 10px 12px;
    height: 36px;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #e6e6e6;
}

.search-li {
    padding: 0 12px;
}
.btn_search {
    right: 0;
}
.icon {
    padding-bottom: 7px;
}

