.nav-main {
    margin: 0 auto;
    background-color: #e5e5e5;
}

.top-nav {
    font-size: 13px;
    color: #3d3f40;
}

.main-nav {
    background-color: #44bd32;
}

.input-search {
    border-radius: 8px;
    padding: 10px 12px;
}

