
:root {
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --color-gray-soft: #e5e5e5;
    --color-gray-light: #e5ebed;
    --color--button: #44BD32;
    --bs-gray-dark: #343a40;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --color-product-text: #3D3F40;
    --color-product-sale: #899296;
    --color-product-sell: #004C73;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 992px;
    padding: 0;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--color-product-text);
}

h6 {
    font-weight: 700;
}

p, span, button {
    font-size: 12px;
}
 span, li {
     white-space: nowrap;
 }

 button {
     padding: 6px 11px;
     font-size: 12px;
     background: var(--color--button);
     color: white;
     border: none;
 }

li {
    list-style: none;
    padding: 0;
    margin: 0;

}



